@import url(https://fonts.googleapis.com/css?family=Nunito+Sans);
@import url(https://fonts.googleapis.com/css?family=Rubik);

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    font-family: 'Nunito Sans', sans-serif
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section {
    display: block
}

h1 {
    margin: .67em 0;
    font-size: 2.5rem;
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

code,
kbd,
pre,
samp {
    font-family: monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: rgb(255,255,255);
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,
canvas,
video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio],
legend {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

@keyframes pulse {

    0%,
    to {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
        filter: alpha(opacity=40);
        opacity: .4;
        top: 0
    }

    50% {
        -ms-filter: none;
        -webkit-filter: none;
        filter: none;
        opacity: 1;
        top: -10px
    }
}


article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

h1,
h2,
h3,
h4,
strong {
    margin-top: 1em;
    padding-top: 1em;
    line-height: 1.25;
    color: rgb(0,0,0);
}

h2 {
    font-size: 2rem
}

h3 {
    font-size: 1.5rem
}

h4 {
    font-size: 1rem
}

ol,
ul {
    padding-left: 40px
}

figure,
ol,
p,
ul {
    margin: 1em 0
}

a img {
    border: 0
}

#particles-js {
    background: rgb(51,51,51);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(0,0,0), rgba(0, 0, 0, 0.9));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(0,0,0), rgba(0, 0, 0, 0.9));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    display: flex;
    vertical-align: bottom;
    width: 100%;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed
}

#particles-js .particles-js-canvas-el {
    width: 100% !important;
    height: 100vh !important
}

.header {
    z-index: 1;
    text-align: center;
    color: #fff;
    position: absolute;
    font-family: 'Rubik', sans-serif;
    width: 80%;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.header .name {
    font-size: 35px;
    display: block;
    line-height: 1;
    color: rgb(0, 143, 17);
}

@media only screen and (min-width:640px) {
    .header .name {
        margin: 0;
        font-size: 90px
    }
}

@media only screen and (max-device-width: 640px) {
    .header .name {
        margin: 0;
        font-size: 40px
    }
}

.header .details {
    font-size: 20px;
    display: block;
    line-height: 1;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 20px;
	color: rgb(0, 143, 17);
}

@media only screen and (min-width:640px) {
    .header .details {
        font-size: 40px
    }
}

@media only screen and (max-device-width: 640px) {
    .header .details {
        font-size: 20px
    }
}

.handles-icons {
    display: flex;
    justify-content: center;
    text-align: center
}

.down,
.handles-icons .icon {
    color: #fff;
    text-align: center
}

.handles-icons .icon {
    height: 20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all .7s;
    width: 20px;
    font-size: 20px;
    margin: 5px
}

.handles-icons .icon:active,
.handles-icons .icon:hover {
    color: rgb(51,51,51);
    background: #fff
}

@media only screen and (min-width:640px) {
    .handles-icons .icon {
        width: 35px;
        height: 35px;
        font-size: 35px
    }
}

@media only screen and (max-device-width: 640px) {
    .handles-icons .icon {
        width: 15px;
        height: 15px;
        font-size: 15px
    }
}

.handles-links {
    margin: 20px
}

.handles-links .link {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    margin: 10px
}

@media only screen and (min-width:640px) {
    .handles-links .link {
        font-size: 20px
    }
}

@media only screen and (max-device-width: 640px) {
    .handles-links .link {
        font-size: 10px
    }
}

.down {
    position: absolute;
    bottom: 25px;
    width: 100%;
    margin: 0 auto;
    display: block;
    font-size: 30px;
    cursor: pointer
}

.down .icon {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    fill: #fff;
    -webkit-animation: pulse 1.3s infinite;
    animation: pulse 1.3s infinite
}

.down .icon:active,
.down .icon:hover,
.footer a:active,
.footer a:hover {
    color: rgb(0, 143, 17);
}

#about {
    width: 90%;
    margin: 0 auto;
    max-width: 960px
}

@media only screen and (min-width:640px) {
    #about {
        width: 80%
    }
}

@media only screen and (max-device-width: 640px) {
    #about {
        width: 80%
    }
}

.description {
    text-align: center;
    margin: 5px auto
}

#education {
	width: 90%;
    margin: 0 auto;
    max-width: 1080px
}

@media only screen and (min-width:640px) {
    #education {
        width: 80%
    }
}

.education-block {
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid #dfdcdc;
    text-align: left;
}

.education-block college{
	text-align: left;
	font-size: 18.5px;
	font-weight: 500;
	padding: 10px 0 10px 0;
    line-height: 1.25;
    color: rgb(0, 0, 255);
}

.education-block degree{
	text-align: left;
	font-size: medium;
	font-weight: 400;
	padding: 5px 0 5px 0;
    line-height: 1.25;
    color: rgb(51,51,51)
}

.education-block span {
	font-size: medium;
    float: right;
	color: rgb(51,51,51)
}

@media only screen and (max-device-width: 640px) {
    #education {
        width: 80%
    }

	.education-block college{
		font-size: 16.5px;
	}

	.education-block span {
		font-size: small;
	}

	.education-block degree{
		font-size: 14.5px;
	}

	.education-block ul{
		font-size: 12.5px;
	}
}

#research-experience {
	width: 90%;
    margin: 0 auto;
    max-width: 1440px
}

.timeline {
	position: relative;
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding: 15px 0;
	box-sizing: border-box;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 2px;
	background: rgb(1, 145, 15);
	top: 0;
	bottom: 0;
	left: 50%;
	margin-left: -1px;
	box-sizing: border-box;
}

.research-container {
	padding: 15px 30px;
	position: relative;
	background: inherit;
	width: 50%;
	box-sizing: border-box;
}

.research-container.left {
	left: 0;
	box-sizing: border-box;
}

.research-container.right {
	left: 50%;
	box-sizing: border-box;
}

.research-container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: #ffffff;
	border: 2px solid rgb(1, 145, 15);
	border-radius: 16px;
	z-index: 1;
	box-sizing: border-box;
}

.research-container.right::after {
	left: -8px;
	box-sizing: border-box;
}

.research-container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: rgb(1, 145, 15);
	z-index: 1;
	box-sizing: border-box;
}

.research-container.right::before {
	left: 8px;
	box-sizing: border-box;
}

.research-container .date {
	position: absolute;
	display: inline-block;
	top: calc(50% - 8px);
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: rgb(1, 145, 15);
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
	box-sizing: border-box;
}

.research-container.left .date {
	right: -200px;
	box-sizing: border-box;
}

.research-container.right .date {
	left: -200px;
	box-sizing: border-box;
}

.research-container .icon {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: rgba(255, 225, 50, 0.85);
	border: 2px solid rgb(1, 168, 15);
	border-radius: 40px;
	text-align: center;
	font-size: 18.5px;
	color: rgb(1, 145, 15);
	z-index: 1;
	box-sizing: border-box;
}

.research-container.left .icon {
	right: 56px;
	box-sizing: border-box;
}

.research-container.right .icon {
	left: 56px;
	box-sizing: border-box;
}

.research-container .content {
	padding: 30px 90px 30px 30px;
	background: rgba(255, 225, 50, 0.85);
	position: relative;
	border-radius: 0 500px 500px 0;
	box-sizing: border-box;
}

.research-container.right .content {
	padding: 30px 30px 30px 90px;
	border-radius: 500px 0 0 500px;
}

.research-container .content h2 {
	margin: 0 0 10px 0;
	font-size: 18.5px;
	font-weight: 500;
	color: rgb(255, 0, 0);
	box-sizing: border-box;
}

.research-container .content p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: rgb(0,0,0);
	box-sizing: border-box;
}

@media only screen and (max-device-width: 640px){
	#research-experience{
		width: 100%;
	}

	.timeline::after {
		left: 90px;
		box-sizing: border-box;
	}

	.research-container {
		width: 100%;
		padding-left: 120px;
		padding-right: 30px;
		box-sizing: border-box;
	}

	.research-container.right {
		left: 0%;
		box-sizing: border-box;
	}

	.research-container.left::after, 
	.research-container.right::after {
		left: 82px;
		box-sizing: border-box;
	}

	.research-container.left::before,
	.research-container.right::before {
		left: 100px;
		border-color: transparent rgb(0, 145, 15) transparent transparent;
		box-sizing: border-box;
	}

	.research-container.left .date,
	.research-container.right .date {
		right: auto;
		left: 15px;
		font-size: 10px;
	}

	.research-container.left .icon,
	.research-container.right .icon {
		right: auto;
		left: 146px;
		box-sizing: border-box;
	}

	.research-container.left .content,
	.research-container.right .content {
		padding: 30px 30px 30px 90px;
		border-radius: 500px 0 0 500px;
		box-sizing: border-box;
	}
}

#work-experience {
	width: 90%;
    margin: 0 auto;
    max-width: 1280px
}

.work-container {
	padding: 15px 30px;
	position: relative;
	background: inherit;
	width: 50%;
	box-sizing: border-box;
}
  
.work-container.left {
	left: 0;
	box-sizing: border-box;
}
  
.work-container.right {
	left: 50%;
	box-sizing: border-box;
}
  
.work-container::after {
	content: '';
	position: absolute;
	width: 16px;
	height: 16px;
	top: calc(50% - 8px);
	right: -8px;
	background: rgba(255, 255, 255, 0.5);
	border: 2px solid rgb(1, 175, 15);
	border-radius: 16px;
	z-index: 1;
	box-sizing: border-box;
}
  
.work-container.right::after {
	left: -8px;
	box-sizing: border-box;
}
  
.work-container::before {
	content: '';
	position: absolute;
	width: 50px;
	height: 2px;
	top: calc(50% - 1px);
	right: 8px;
	background: rgb(1, 145, 15);
	z-index: 1;
	box-sizing: border-box;
}
  
.work-container.right::before {
	left: 8px;
	box-sizing: border-box;
}
  
.work-container .date {
	position: absolute;
	display: inline-block;
	top: calc(50% - 8px);
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: rgb(1, 145, 15);
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index: 1;
	box-sizing: border-box;
}
  
.work-container.left .date {
	right: -200px;
	box-sizing: border-box;
}
  
.work-container.right .date {
	left: -200px;
	box-sizing: border-box;
}
  
.work-container .icon {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	padding: 9px 0;
	top: calc(50% - 20px);
	background: rgba(115, 215, 245, 0.85);
	border: 2px solid rgb(1, 145, 15);
	border-radius: 40px;
	text-align: center;
	font-size: 18.5px;
	color: rgb(1, 145, 15);
	z-index: 1;
	box-sizing: border-box;
}
  
.work-container.left .icon {
	right: 56px;
	box-sizing: border-box;
}
  
.work-container.right .icon {
	left: 56px;
	box-sizing: border-box;
}
  
.work-container .content {
	padding: 30px 90px 30px 30px;
	background: rgba(115, 215, 245, 0.85);
	position: relative;
	border-radius: 0 500px 500px 0;
	box-sizing: border-box;
}
  
.work-container.right .content {
	padding: 30px 30px 30px 90px;
	border-radius: 500px 0 0 500px;
}
  
.work-container .content h2 {
	margin: 0 0 10px 0;
	font-size: 18.5px;
	font-weight: 500;
	color: rgb(255, 0, 0);
	box-sizing: border-box;
}
  
.work-container .content p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	color: rgb(255,255,255);
	box-sizing: border-box;
}
  
@media only screen and (max-device-width: 640px){
	#work-experience {
		width: 100%;
	}

	.timeline::after {
		left: 90px;
		box-sizing: border-box;
	}
  
	.work-container {
		width: 100%;
		padding-left: 120px;
		padding-right: 30px;
		box-sizing: border-box;
	}
  
	.work-container.right {
		left: 0%;
		box-sizing: border-box;
	}
  
	.work-container.left::after, 
	.work-container.right::after {
		left: 82px;
		box-sizing: border-box;
	}
  
	.work-container.left::before,
	.work-container.right::before {
		left: 100px;
		border-color: transparent rgb(0, 145, 15) transparent transparent;
		box-sizing: border-box;
	}
  
	.work-container.left .date,
	.work-container.right .date {
		right: auto;
		left: 15px;
		font-size: 10px;
	}
  
	.work-container.left .icon,
	.work-container.right .icon {
		right: auto;
		left: 146px;
		box-sizing: border-box;
	}
  
	.work-container.left .content,
	.work-container.right .content {
		padding: 30px 30px 30px 90px;
		border-radius: 500px 0 0 500px;
		box-sizing: border-box;
	}
}

#skills {
    width: 90%;
    margin: 0 auto;
    max-width: 1920px
}

.skill{
	text-align: center;
    font-size: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media only screen and (min-width:640px) {
    .skill {
        flex-wrap: nowrap;
        font-size: 75px
    }
}

.category{
	margin: 0px 40px 0px 40px
}

.icon-resize{
	width: 60px;
	height: 60px;
	max-width: 100%;
	margin: 5px 5px 5px 5px;
}

.wide-icon-resize{	
	height: 40px;
	max-width: 100%;
	margin: 5px 5px 5px 5px;
}

#projects{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    max-width: 960px;
    margin: 0 auto
}

.project {
    margin: 50px auto
}

.project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px
}

.project h5 {
    margin: 0
}

.project li {
	text-align: left;
    color: rgb(0, 0, 0);
    font-size: 1.1rem
}

.project p {
    margin-right: 5px
}

@media only screen and (min-width:640px) {
    .contents-left {
        margin-left: 0;
        width: 48%;
		text-align: center;
    }

    .contents-left,
    .contents-right {
        margin-top: -5%;
		text-align: center;
    }

    .contents-right,
    .images-right {
        margin-top: 0%;
        float: right;
        width: 45%;
		text-align: center;
    }

    .images-right img {
        float: right
    }

    .images-left {
        margin-top: 0%;
        float: left;
        width: 50%
    }

    .images-left img {
        float: left
    }
}

.project-link {
    display: inline-block;
    margin: 10px 0;
    padding: 5px;
    color: #ffffff;
    background-color: transparent;
    border-radius: 10px;
    text-align: center;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    transition: color .3s ease-out, background-color .3s ease-out, border-color .3s ease-out
}

.project-link:active,
.project-link:hover {
    background-color: #e6e2e2;
    color: #fff;
    transition: color .3s ease-in, background-color .3s ease-in, border-color .3s ease-in
}

#achievements {
	width: 90%;
    margin: 0 auto;
    max-width: 960px;
	font-size: 17px;
	line-height: 1.75em;
}

.footer {
    background: rgb(51,51,51);
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, rgb(0,0,0), rgba(0, 0, 0, 0.9));
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(0,0,0), rgba(0, 0, 0, 0.9));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	padding: 10px 0;
    margin-top: 75px;
    text-align: center;
	width: 100%;
	color: rgb(255, 208, 0)
}
.footer a {
    text-decoration: none;
    margin: 0;
    color: #fff
}
